


    <p-fieldset legend="CHILD" 
                [toggleable]="true" 
                id="child" 
                >

        <div class="container mt-2">
            <p class="mb-2">mensaje: </p>
        </div>
    
        <div class="container mt-2">
            <button pButton pRipple type="button" label="Use Service" class="p-button-outlined p-button-warning"></button>
            <button pButton pRipple type="button" label="Use Outoput Event" class="p-button-outlined p-button-warning px-0"></button>
            <button pButton pRipple type="button" label="Use Observable" class="p-button-outlined p-button-warning"></button>
        </div>
    
        <div class="a100"></div>
        
        
    </p-fieldset>

