


<p-fieldset legend="CHILD" 
            [toggleable]="true" 
            id="child" 
            class="mt-3">

    <div class="container mt-2 a100">
        <p class="mb-2">mensaje: {{MessageForChild}}</p>
    </div>

    <div class="container mt-2">
        <button pButton 
            pRipple 
            type="button" 
            label="Use Service" 
            class="p-button-outlined p-button-warning">
        </button>
        <button pButton 
            pRipple 
            type="button" 
            label="Use Outoput Event" 
            class="p-button-outlined p-button-warning px-0"
            (click)="outputEvent()"
            >
        </button>
        <button pButton 
            pRipple 
            type="button" 
            label="Use Observable" 
            class="p-button-outlined p-button-warning">
        </button>
    </div>
    
</p-fieldset>

