.header {
    display: flex;
    justify-content: space-between;
}

.menu {
    margin: 0px;
    height: 80px;
    width: 80px;
    background-color: var(--surface-b);
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

.menuContainer{
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.repo{
    background-color: var(--surface-b);
    align-items: center;
}

.link {
    height: 80px;
}

.hoverable:hover {
    background-color: var(--surface-100);
}

.start i {
    font-size: 25px;
}

h1 {
    margin: 16px;
    white-space: nowrap;
}

h3 {
    padding: 20px;
    padding-left: 25%;
}

a {
    text-decoration: none !important;
    color: whitesmoke
}

list-group {
    background-color: var(--surface-a) !important;
}