

<div class="header">
    <div class="menu hoverable" (click)="openClose()" >
        <i class="pi pi-list" ></i>   
    </div>
    <div class="repo hoverable">

        <h1 class="h1">
            <a href="https://github.com/miguelfuentesarribas" target="_blank">
                Miguel Fuentes Arribas
            </a>
        </h1>
    
    </div>
</div>


<p-sidebar [(visible)]="display" 
        [transitionOptions]="'300ms'" 
        [style]="{width:'15em'}">
    <div class="menuContainer">
        <p-menu [model]="items"></p-menu>
        <!-- <p-listbox [model]="items" routerLinkActiveOptions optionDisabled="disable"  routerLink="url" optionLabel="title" [style]="{'width':'13rem'}"></p-listbox> -->

    </div>
</p-sidebar>