.semaforo {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #3f3e45;
    width: 150px;
    height: 400px;
    border-radius: 100px 100px 50px 50px;
    border-top: solid var(--surface-b) 10px;
}

.light{
    background-color: #bbbabb;
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

.red {
    background-color: #b8393a;
    -webkit-box-shadow: inset 0px 0px 50px 50px rgba(203, 49, 46, 0.6), 0px 0px 50px 50px rgba(203, 49, 46, 0.6); 
    box-shadow: inset 0px 0px 50px 50px rgba(203, 49, 46, 0.6), 0px 0px 50px 50px rgba(203, 49, 46, 0.6);

}

.yellow {
    background-color: #ecc72c;
    -webkit-box-shadow: inset 0px 0px 50px 35px rgba(236,199,44,0.6), 0px 0px 50px 35px rgba(236,199,44,0.6); 
    box-shadow: inset 0px 0px 50px 35px rgba(236,199,44,0.6), 0px 0px 50px 35px rgba(236,199,44,0.6);
}

.green {
    background-color: #64CD37;
    -webkit-box-shadow: inset 0px 0px 50px 35px rgba(20,126,59,0.6), 0px 0px 50px 35px rgba(20,126,59,0.6); 
    box-shadow: inset 0px 0px 50px 35px rgba(20,126,59,0.6), 0px 0px 50px 35px rgba(20,126,59,0.6);
}

.off{
    background-color: #bbbabb !important;
    box-shadow: none !important;
}